{% extends 'base.html.twig' %}

{% block title %}PlayGe{% endblock %}

{% block body %}
   <script src="js/index.js"></script>
 <!-- Carrusel con instrucciones-->
  <div class="container">
    <div id="carouselExampleControls" class="carousel slide mx-auto mt-3 mb-3"  style="height: 30vh" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" >
          <img src="https://source.unsplash.com/random/100x80?sig=1" style="height: 30vh" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item " >
          <img src="https://source.unsplash.com/random/100x80?sig=2" style="height: 30vh" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" >
          <img src="https://source.unsplash.com/random/100x80?sig=3" style="height: 30vh" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <!-- Fin del carrusel-->
  <!-- Cartas estaticas -->
  <div class="container">
    <div class="row">
        <div class=" col-12 col-sm-6 col-lg-3">
          <div class="card mb-3 bg-dark">
            <a href="{{ path('gamebombs') }}"><img src="{{ asset('css/imgs/Minesweeper.png') }}" class="card-img-top" alt="..."></a>
            <div class="card-body">
              <h5 class="card-title text-light">Minas</h5>
            </div>
          </div>
        </div>
        <div class=" col-12 col-sm-6 col-lg-3">
          <div class="card mb-3 bg-dark">
            <a href="{{ path('crash') }}"><img src="{{ asset('css/imgs/rocket0.png') }}" class="card-img-top" alt="..."></a>
            <div class="card-body">
              <h5 class="card-title text-light">Crash</h5>
            </div>
          </div>
        </div>
        <div class=" col-12 col-sm-6 col-lg-3">
          <div class="card mb-3 bg-dark">
            <a href="{{ path('towers') }}"><img src="{{ asset('css/imgs/towers.png') }}"class="card-img-top" alt="..."></a>
            <div class="card-body">
              <h5 class="card-title text-light">Towers</h5>
            </div>
          </div>
        </div>
        <div class=" col-12 col-sm-6 col-lg-3 ">
          <div class="card mb-3 bg-dark">
            <a href="{{ path('roulette') }}"><img src="{{ asset('css/imgs/ruleta.png') }}" class="card-img-top" alt="..."></a>
            <div class="card-body">
              <h5 class="card-title text-light">Ruleta</h5>

            </div>
          </div>
        </div>
        <div class=" col-12 col-sm-12 col-lg-6 ">
          <div class="card w-100 mb-3 bg-dark">
            <img src="{{ asset('css/imgs/Jankenpo.png') }}"class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title text-light">Piedra papel o tijera</h5>
 
            </div>
          </div>
        </div>

      
      <!-- Fin de las cartas estaticas-->
        <div class=" col-12 col-sm-12 col-lg-6">
          <div class="card w-100 mb-3 bg-dark">
            <img src="{{ asset('css/imgs/hunter.png') }}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title text-light">Tower Defense</h5>
            </div>
          </div>
        </div>
      </div>

      <!-- Jugadas Destacadas o Jugadores destacados-->

      <div class=" col-12">
        <div class="card w-100 mb-3 bg-dark ">
          <h4 class="card-title text-light mt-1 mb-1 justify-content-center mx-auto text-center">Jugadas destacadas</h4>
          <div class="card-body ganancias">

            <div class="mensaje-resultados col-12 border-bottom border-light mt-3">
              <div class="row">
                  <div class="col-4">
                    <p class="text-light">nombre de usuario</p>
                  </div>
                  <div class="col-4">
                    <p class="text-light">juego</p>
                  </div>
                  <div class="col-4">
                    <p class="text-light">resultado</p>
                  </div>
              </div>
            </div>

            <div class="mensaje-resultados col-12 border-bottom border-light mt-3">
              <div class="row">
                  <div class="col-4">
                    <p class="text-light">nombre de usuario</p>
                  </div>
                  <div class="col-4">
                    <p class="text-light">juego</p>
                  </div>
                  <div class="col-4">
                    <p class="text-light">resultado</p>
                  </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    <!-- fin de destacados -->
  </div>

{% endblock %}
