{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}



 <div class="container">
         
        <div class="card mt-5 bg-dark text-light">
            <div class="card-body">
                <h2 class="card-title mt-2">Registro</h2>
               {{ form_start(registrationForm) }}

                    <div class="form-group">
                        {{ form_row(registrationForm.userName) }}
                        <small id="emailHelp" class="form-text text-muted">Este es el nombre con el que apareceras en los juegos</small>
                    </div>
                    <br>
                    <div class="form-group">
                        {{ form_row(registrationForm.email) }}
                       
                    </div>
                    <br>
                    <div class="form-group">
                        {{ form_row(registrationForm.telefono) }}
            
                    </div>
                    <br>
                    <div class="form-group">
                    
                            {{ form_row(registrationForm.plainPassword)}}
                        <small id="seguridad"></small>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-primary">Registrate</button>
                {{ form_end(registrationForm) }}
            </div>
        </div>
    </div>

        
  

         <script src="js/registro.js"></script>
{% endblock %}

